.loginInput{
    height: 3rem;
    border-radius: 100px;
    text-align: center;
    font-size: 1.2em;
}

#login-wrapper{
    margin-top: 30%;
}

#loginButton{
    width: 90%;
    margin-left: 5%;
    font-size: 1.1em;
    margin-top: 1em;
}

.loginImg{
    height: 7em;
}

#loginUsr{
    fill:   invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}