<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
 -->
<ion-content>
    <div id="login-wrapper">
        <ion-img *ngIf="darkMode" src="../assets/user.svg" class="loginImg"></ion-img>
        <!-- <ion-img *ngIf="!darkMode" src="../assets/user (1).svg" class="loginImg"></ion-img>  -->
        <ion-card class="loginInput">
            <ion-input placeholder="Usuario" required="true" type="email" id="userInput" [(ngModel)]="user.user"></ion-input>
        </ion-card>
        <ion-card class="loginInput">
            <ion-input placeholder="Contraseña" type="password" required="true" [(ngModel)]="user.password"></ion-input>
        </ion-card>
        <div style="text-align: center; margin-top: 1em;">
            <a class="">Olvidaste tu contraseña? Haz click para restablecerla </a>
        </div>
        <ion-button expand="block" id="loginButton" (click)="tryLogin()">Iniciar sesión</ion-button>
    </div>
</ion-content>
