<ion-header>
  <ion-toolbar>
    <ion-title>Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="note">
        <div class="comment">
            El niño ha estado platicando mucho en clase 
        </div>
        <div class="visual-comment">
            ❌
        </div>
    </ion-card>
    <ion-card class="note">
        <div class="comment">
            Participó mucho en clase hoy
        </div>
        <div class="visual-comment">
            ✔️
        </div>
    </ion-card>

</ion-content>
